<!DOCTYPE html>
<html lang="en">

<head>
    <title>Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body >
    <div>
        <div>
            <div>
                <h1> Log in</h1>

                <div>
                    <style>
                        h5 {
                            color: red;
                        }
                    </style>
                    {% for message in messages %}
                        <h5> {{ message }} </h5>
                    {% endfor %}
                </div>

                <form action="." method="POST">
                    {%csrf_token%}
                    <input type="text" name="username" placeholder="Username" style="border: 1px solid #d3d5d8 !important;">
                    <input type="password" name="password" placeholder="password" style="border: 1px solid #d3d5d8 !important;">
                    <button type="submit">Login</button>
                    <div >
                        <p class="text-base"> Not registered? <a href="/signup"> Create a account </a></p>
                    </div>
                </form>
            </div>
        </div>

    </div>

</body>


</html>